<!DOCTYPE html>
<html>
  <head>
    <title>FirstKarinelego</title>
    <%= favicon_link_tag asset_path('') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>KarineLegault - Digital Project Manager and Web dev</title>
    <meta name="description" content="">
    <meta property="og:title" content="KarineLegault - Digital Project Manager and Web dev" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <!-- One line missing for the meta image -->
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="KarineLegault" />
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
